/* Custom styling for the React accordions */
.accordions-item {
  border-bottom: 1px solid #ddd;
  margin-bottom: 10px;
margin-right: 150px;
margin-left: 150px;

}
.accordions-itemx {
  border: 1px solid #ddd;
  margin-bottom: 10px;
margin-right: 150px;
margin-left: 150px;

}
.accordions-headerx {
  position: relative;
  padding: 10px;
  cursor: pointer;
  color: #1679d5;
  font-weight: 600;
  background: #fff;
  font-size: 16px;
  line-height: 20px;
  transition: background 3s ease;
  
}
.accordions-header {
  position: relative;
  padding: 10px;
  cursor: pointer;
  color: #000;
  font-weight: 600;
  background: #fff;
  font-size: 16px;
  line-height: 20px;
  transition: background 3s ease;
  
}

.accordions-header::after {
  content: '⮙'; /* Unicode for down arrow */
  font-size: 13px;
  color: #006d85;
  position: absolute;
  top: 50%;
  right: 10px;
  transform: translateY(-50%);
}

.accordions-content {
  padding: 10px;
 
}

.accordions-content iframe {
  width: 100%;
}

.accordions-item.active .accordions-header {
  background-color: #f1f2f3;
  color: #666;
}
.title{
  text-align: left;
  margin-left: 155px;
}
.accordions-item.active .accordions-content {
  display: block;
}
@media screen and (max-width:745px) {
  .accordions-item {
    border: 1px solid #ddd;
    margin-bottom: 10px;
  margin-right: 25px;
  margin-left: 25px;
  
  }
}
@media screen and (max-width:1225px) {
  .accordions-item {
    border: 1px solid #ddd;
    margin-bottom: 10px;
  margin-right: 35px;
  margin-left: 35px;
  
  }
}