.bars{
    margin: 0 1rem 0 4.5rem;
}
.inputWithIcon {
  position: relative;
}
.inputWithIcon input {
  padding-left: 40px;
}
.inputWithIcon .search {
  position: absolute;
  left: 10;
  top: 7px;
  padding: 5px 1rem;
}
.inputWithIcon .list {
  position: absolute;
  left: 10;
  top: 7px;
  padding: 5px 15rem;
}
.shop{
    margin-top: 0.7rem;
   
    
}
.admin{
    margin:0.2rem 0.5rem 0 0;
}
.btn-signin{
    /* font-size:105%; */
    cursor: pointer;
    background-color: #0c5273;
    /* margin-right: 5rem; */
}
.btn-signin:hover{
    background-color: #0c5273;
}
.shop:hover{
  background-color: #0c5273;
}
.sb-search {
  background-color: white;
  border-radius: 20px;
  padding: 10px 25px;
  margin: 10px;
  display: flex;
  align-items: center;
}
.search-box {
  outline-width: 0;
  border: none;
  margin-left: 10px;
  font-size: 1rem;
  color: rgba(0, 0, 0, 0.54);
}
.sidebar{
position: absolute;
top: 0;
z-index: 3;

}
