* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
   
}
*, *::after, *::before {
    margin: 0;
    padding: 0;
    outline: 0;
    box-sizing: inherit;
}
/* Target WebKit-based browsers (Chrome, Safari) */
::-webkit-scrollbar {
    width: 3px;
  }
  
  /* Target Firefox */
  
  *::-webkit-scrollbar-track {
    background-color: #fefbff;
  }
  
  *::-webkit-scrollbar-thumb {
    background-color: #726e70;
  }
  
.navbar{
    background-color: #005478;
    height: 68px;
    width: 100%;
    position: fixed;
}
.page{
    width: 100%;
    min-height: 100vh;
    background-color: rgb(106, 109, 108);
    
}
.menu-bar{
    padding-left: 180px;
    font-size: 25px;
    background: none;
    color: #fff; 
    align-items: center;
}
.logo{
    position: absolute;
    top: 0;
    left: 230px;
    padding-top: 18px;
    font-size: 25px;
}
.iconn{
    padding-top: 20px;
}
/* .nav-menu{
     position:fixed;
    display: flex;
    justify-content: center;
    transition: all ease-out 800ms;
    top: 0px;
    overflow-y: auto; 
    flex-direction: column;
    max-height: 100vh;
} */
/* .nav-menu-active{
    
} */


.nav-menu{
    position:fixed;
    display: flex;
    /* justify-content: center; */
    /* transition: all ease-out 800ms; */
    top: 0px;
    left:0px;
    /* display: none; */
    overflow-y: auto; 
    flex-direction: column;
    z-index:4;
}
.disapper{
    display:none;
    /* position:relative;
    top:1000px;
    right:1000px */

}
.side-main{
    display: flex;
   flex-direction: column;
    color: #000000;
    background: #fff;
    padding-top: 70px;
    height: 100%;
    max-width:320px;  
    font-family: "JioType",helvetica,arial,sans-serif;
    font-weight: 500;
    font-size: 16px;
    box-shadow: 6px 0px 16px rgba(0,0,0,.16); 
    
}
.side-sub{
    display: flex;
    flex-direction: row;
}
.header{
    background-color: #0078ad;
    padding:10px 15px 10px 15px;
    display: flex;
    justify-content:space-between;
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    margin-top: -85px;
}
.first{
    display: flex;
    justify-content: space-between;
}
.hello{
color: #fff;
align-items: center;
min-width: 40px;
font-family: sans-serif;
font-weight: 700;
font-size: 16px;
letter-spacing: -0.08px;
}
.helloc{
    display: flex;
    align-items: center;
    vertical-align: bottom;
    margin-top: 15px;
}
.btn{
    /* background: none;
    border: 1px solid white;
    border-radius: 50px;
    padding: 5px 15px ;
    color: white;
    font-size: 16px;
    font-weight: 700;
   width: 87px;
   height: 33px; */
   position: relative;
   text-align: center;
   text-decoration: none;
   outline: none;
   padding: 12px 16px;
   cursor: pointer;
   min-width: 40px;
   box-sizing: border-box;
   border-width: 1px;
   border-style: solid;
   transition-property: background-color;
   border-radius: 250px;
   vertical-align: top;
   display: inline-flex;
   align-items: center;
   justify-content: space-evenly;
   min-height: 3em;
   background-color: #0078ad;
   border-color: rgba(0,0,0,0);
   color: #fff;
   font-family: "JioType",helvetica,arial,sans-serif;
   font-weight: 700;
   font-size: 16px;
   letter-spacing: -0.08px;
   line-height: 1.5;
   transition: cubic-bezier(0.35, 0, 0.25, 1) 300ms;
}
.btn.second{
    border-color: #fff;
    min-height: 2em;
    padding: 4px 16px;
    color: #fff;
    border-radius: 150px;
}
.btn.second:hover{
border-color: #025477;
color: #f5f5f5;
}
.sign{
    display: inline-flex;
    align-items: center;
}
.btn.first{
    width: 90%;
}
.btn.first:hover{
    background-color: #005478;
    border-radius: 100px;
    width: 100%;
}
.nav-section-title {
    padding: 0 24px;
    font-family: "JioType",helvetica,arial,sans-serif;
    font-weight: 700;
    font-size: 14px;
    letter-spacing: -0.07px;
    line-height: 1.4285714286;
}
.nav-section-list {
    list-style: none;
    padding: 15px 25px;
    color: rgba(0,0,0,.65);

}
ul, ol {
    list-style: none;
    margin: 0;
    padding: 0;
}

ul {
    display: block;
    list-style-type: disc;

}

.divider-h {
    border-bottom: 1px solid #e0e0e0;
}
.nav-section-list-item {
    padding-top: 12px;
    padding-bottom: 12px;
}

li {
    display: list-item;
    text-align: -webkit-match-parent;
}

.d{
    display: -ms-flexbox!important;
    display: flex!important;
}
a {
    color: inherit;
    text-decoration: none;
}
a:-webkit-any-link:hover {
    cursor: pointer; 
    text-decoration: underline;
}
img {
    overflow: clip;
}
.jm {
    margin-right: 8px ;
}
.icon {
    display: block;
    width: 26px;
    height: 26px;
}
.nav-section-list-title{
    color: rgb(63, 63, 63);
    font-weight: 500;
 text-align: center;
 align-items: center;
 display: inline-flex;
 text-decoration: none;
}
.word{
    text-decoration: underline white;  
}
.word:hover{
    text-decoration: underline gray;  
}
.sidebarscrollable{
    max-height: 101vh;
    overflow-x: hidden;
}
.content-sections{
    top: 0;
    padding-top: 20px;
    overflow-y: auto;
    padding: 5px;
}
.bottom-section {
    background-color: #f5f5f5;
    font-family: "JioType",helvetica,arial,sans-serif;
    font-weight: 500;
    font-size: 12px;
    letter-spacing: -0.06px;
    line-height: 1.3333333333;
}


.app-section {
    padding: 48px 24px 40px;
}
.app-section-title {
    font-family: "JioType",helvetica,arial,sans-serif;
    font-weight: 900;
    font-size: 16px;
    letter-spacing: -0.48px;
    line-height: 1;
    padding-bottom: 20px;
}
.app-section-item{
    display: flex;

}
.info-section-item {
    padding: 16px 0;
}
.info-section {
    padding: 24px;
    padding-top: 8px;
    color: rgba(0,0,0,.65);
}
.text-link {
    font-family: "JioType",helvetica,arial,sans-serif;
    font-weight: 700;
    font-size: 13px;
    letter-spacing: -0.06px;
    line-height: 1.3333333333;
    color: #141414;
    margin-left: 5px;
}