.active {
  color: blue;
  font-weight: bold;
}
/* breadcrumbs */
.custom-breadcrumb-item a {
  text-decoration: none !important; /* Use !important to override Bootstrap styles if needed */
}
.breadcrumb-item + .breadcrumb-item::before {
  content: ">" !important;
}
.activeColor {
  color: black;
}
/* slider -boxcarousal*/

.custom-arrow {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 40px; /* Set the desired width of the custom arrows */
  height: 40px; /* Set the desired height of the custom arrows */
  background-color: #d0d3d4; /* Set the background color if needed */
  color: #fff; /* Set the text color if needed */
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  border-radius: 50%;
}

.custom-next-arrow {
  right: 10px; /* Adjust the right position as needed */
}

.custom-prev-arrow {
  left: 10px; /* Adjust the left position as needed */
  z-index: 1;
}
.custom-arrow button {
  width: 100%;
  height: 100%;
  border: none;
  background: transparent;
  cursor: pointer;
  outline: none;
}
/* .slider-item:hover {
  width: 200px;
  height: 250px;
} */

.hover-zoom {
  transition: transform 0.3s;
}

.hover-zoom:hover {
  transform: scale(1.1); /* Adjust the scale factor as needed */
  /* box-shadow: 0 0 2px rgba(0, 0, 0, 0.3); */
}
.hover-zoom-smallbox{
  transition: transform 0.3s;
}
.hover-zoom-smallbox:hover{
  transform: scale(1.05);
}
.slick-active {
  /* Customize or remove active selection styles here */
  outline: none; /* Remove any outline or border */
  /*  Add other styling properties as needed */
}